.infobox-container {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    margin-top: 80px;
}
.infobox {
    width: 90%;
    background: #424242;
    padding: 10px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 90%;
    position: relative;
    z-index: 90;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6a6b6b), to(#424242));
    background-image: -moz-linear-gradient(top,#6a6a6a,#424242);
}
.infobox h3 {
    background: #3198dd;
    width: 104%;
    color: #fff;
    padding: 10px 5px;
    margin: 0;
    font-size: 160%;
    text-align: center;
    font-weight: bold;
    position: relative;
    z-index: 100;
    left: -15px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#33acfc), to(#3198dd));
    background-image: -moz-linear-gradient(top,#33acfc,#3198dd);
    text-shadow: #2187c8 0 -1px 1px;
}

.list {
    height: 150px;
    margin-top: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    flex-wrap: wrap;
    
}

.infobox-container .triangle-l {
    border-color: transparent #2083c2 transparent transparent;
    border-style:solid;
    border-width:13px;
    height:0;
    width:0;
    left: 21px;
    top: 47px;
    position: absolute;
   
    
}
.infobox-container .triangle-r {
    border-color: transparent transparent transparent #2083c2;
    border-style:solid;
    border-width:13px;
    height:0;
    width:0;
    position: absolute;
    left: 842px;
    top: 47px;
    
}

.infobox a {
    color: #35b0ff;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-bottom: 1px dotted transparent;
}

.link{
    display: block;
    justify-content: center;
    margin-bottom: 10px;
}
.infobox a:hover, .infobox a:focus {
    text-decoration: none;
    border-bottom: 1px dotted #35b0ff;
    cursor: pointer;
}