$primary-color: #296d98;
$secondary-color: #5a9ac2;
.lesson-cont {
    border: 2px solid darkcyan;
    background-color: $primary-color;
    padding: 5px;
    text-align: center;
}
.lesson-cont:hover {
    position: relative;
    background-color: $secondary-color;
    border: 2px solid lightcyan;
    top: -5px;
}

.link{
    text-decoration: none;
    color: #fff;

}

.header {
    background: #296d98;
    margin-bottom: 0.45rem;
}

.nav{ 
    margin: 0 auto;
    padding: 0.4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.logo{
    height: 50px;
}

.logoText{
    margin-left: 20px;
    margin-top: 10px; 
    height: 50px; 
}
.nav-item {
    color: white;
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
}
@media(max-width: 600px){
 
    .nav-item {
        margin-left: 25px;
    
    }
    .logo{
        height: 30px;
    }
    
    .logoText{
        margin-left: 5px;
        margin-top: 10px; 
        height: 30px; 
        margin-right: 20px;
    }
}
