.infobox-container {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}
.infobox {
    width: 90%;
    background: white;
    padding: 10px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 90%;
    position: relative;
    z-index: 90;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);

}
.infobox h3 {
    margin-top: 20px;
    background: #296d98;
    width: 104%;
    color: #fff;
    padding: 10px 5px;
    margin: 0;
    font-size: 160%;
    text-align: center;
    font-weight: bold;
    position: relative;
    z-index: 100;
    left: -15px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    background-image: -webkit-gradient(linear, left, right, from(#525252), to(#3d72b4));
    background-image: -moz-linear-gradient(left,#525252,#3d72b4);

}

.list {
    height: 150px;
    margin-top: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    flex-wrap: wrap;
    
}

.infobox-container .triangle-l {
    border-color: transparent #1b628f transparent transparent;
    border-style:solid;
    border-width:13px;
    height:0;
    width:0;
    left: 21px;
    top: 47px;
    position: absolute;
   
    
}
.infobox-container .triangle-r {
    border-color: transparent transparent transparent #1b628f;
    border-style:solid;
    border-width:13px;
    height:0;
    width:0;
    position: absolute;
    left: 842px;
    top: 47px;
    
}

.infobox a {
    color: #1b628f;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-bottom: 1px dotted transparent;
}

.link{
    display: block;
    justify-content: center;
    margin-bottom: 10px;
}
.infobox a:hover, .infobox a:focus {
    text-decoration: none;
    border-bottom: 1px dotted #1b628f;
    cursor: pointer;
}

.activity-box{
    margin: 50px auto;
    width: 50%;

    padding: 10px 5px;

    font-size: 160%;
    text-align: center;
    font-weight: bold;
  
    z-index: 100;
    left: -15px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    
    background-color: #368254;
}



.title{
    margin-top: 10px;
    color: #fff;
    text-align: center;
}

@media(max-width: 550px){
    .activity-box{ width: 80%;}
    .infobox {
        width: 100%;
    }
    .infobox-container .triangle-l {
        display: none;
    }
    .infobox-container .triangle-r {
        display: none;
    }
}